{% extends 'bases_en/base.html' %} {% load static %}
<!--  block content -->
{% block title %}Política de Cookies{% endblock %} {% block content %}

<div class="container pt-5">
  <div class="row row-cols-1 row-cols-md-1 pt-5 mb-4">
    <div class="col-lg-12">
      <div class="card z-depth-0 mb-4">
        <div class="card-header font-weight-bold">
          <h2 class="">O que é Cookie</h2>
        </div>
        <div class="card-body text-dark white">
          <h3 class="pb-4">Última atualização: 21 de Julho de 2020</h3>

          <p class="text-dark">
            Um cookie é um pequeno arquivo que contém um identificador (uma
            sequência de letras e números) que é enviado por um servidor da web
            para um navegador da Web e é armazenado pelo navegador. O
            identificador é então enviado de volta ao servidor sempre que o
            navegador solicita uma página do servidor. Os cookies podem ser
            usados ​​pelos servidores da Web para identificar e rastrear os
            usuários enquanto eles navegam em diferentes páginas de um site e
            identificam os usuários que retornam a um site. Os cookies
            normalmente não contêm nenhuma informação que identifique
            pessoalmente um usuário, mas as informações pessoais que armazenamos
            sobre você podem estar vinculadas às informações armazenadas e
            obtidas a partir de cookies.
          </p>
          <p class="text-dark">
            Se você usar o este Website, terceiros usarão cookies para rastrear
            e monitorar algumas de suas atividades dentro e fora deste site ,
            além de armazenar e acessar alguns dados sobre você, seu histórico
            de navegação e seu uso do site tutorialspoint.com. Usamos os cookies
            de sessão, que expiram após um curto período de tempo ou quando você
            fecha o navegador, e os cookies persistentes, que permanecem
            armazenados no navegador por um período definido. Utilizamos cookies
            de sessão para identificá-lo durante uma única sessão de navegação,
            como quando você faz login no Tutorials Point. Usamos cookies
            persistentes onde precisamos identificá-lo por um período mais
            longo, como quando você solicita que o mantenhamos conectado. Esta
            política descreve como o Tutorials Point e outros terceiros usam
            cookies dentro e fora do site do Tutorials Point e como você pode
            exercer um maior grau de controle sobre os cookies. Lembre-se de que
            isso pode alterar sua experiência com nossa plataforma e limitar
            alguns recursos (incluindo o login como usuário).
          </p>
          <h3 class="pb-4">Por que usamos cookies</h3>

          <p class="text-dark">
            Informamos que nosso site usa cookies para aprimorar nossos serviços
            com base nas preferências do usuário. Utilizamos cookies e
            tecnologias semelhantes, como web beacons, tags de pixel ou objetos
            compartilhados locais ("cookies em flash"), para fornecer, medir e
            melhorar nossos serviços de várias maneiras. Usamos esses cookies
            quando você visita nosso site e serviços através de um navegador e
            de nosso aplicativo móvel. À medida que adotamos tecnologias
            adicionais, também podemos coletar dados adicionais através de
            outros métodos. Utilizamos cookies para os seguintes fins: Valide a
            autenticidade das pessoas que tentam obter acesso a uma conta de
            usuário específica. Habilite o comportamento em nossos produtos e /
            ou serviços, adaptado às atividades ou preferências de uma pessoa
            que visita diferentes seções do site Permita que os usuários optem
            por optar por certos tipos de modelagem, adaptação ou personalização
            em nossos produtos. Forneça e administre os Serviços, inclusive para
            exibir conteúdo personalizado e facilitar a comunicação com outros
            usuários. Manter as operações comerciais regulares de nossos
            departamentos de publicidade e marketing Ajude a diagnosticar e
            corrigir o tempo de inatividade, bugs e erros em nosso código para
            garantir que nossos produtos estejam operando com eficiência.
            Identifique usuários individuais para atribuir atividades diferentes
            ao usar várias partes do site. Para lembrar dados sobre seu
            navegador e suas preferências. Para lembrar suas configurações e
            outras opções que você fez em nosso site.
          </p>

          <h3 class="pb-4">Google Analytics</h3>

          <p class="text-dark">
            O Google Analytics é a ferramenta de análise de tráfego poderosa e
            amplamente usada do Google que permite que os proprietários de sites
            obtenham informações detalhadas e em tempo real sobre como o site
            está sendo usado, quanto e por quem. Usamos o Google Analytics para
            medir o tráfego do site, o comportamento do visitante e melhorar a
            entrega de serviços. Para entender as informações compartilhadas com
            o Google, como elas são processadas e como você pode controlar as
            informações coletadas pelo Google, visite
            https://policies.google.com/technologies/partner-sites Além das
            informações pessoais, certas informações anônimas sobre sua visita
            são capturadas automaticamente quando você visita o Site. Essas
            informações incluem o nome do provedor de serviços da Internet e o
            endereço IP (Internet Protocol) por meio do qual você acessa a
            Internet; a data e hora em que você acessa o site; as páginas que
            você acessa enquanto estiver no site, dados geográficos ocasionais e
            o endereço da Internet do site a partir do qual você vinculou
            diretamente ao nosso site. Também podemos usar seu endereço IP para
            determinar a organização à qual você é afiliado. Essas informações
            anônimas são usadas para ajudar a melhorar o site, analisar
            tendências e administrar o site.
          </p>

          <h3 class="pb-4">Que informações coletamos</h3>

          <p class="text-dark">
            <strong>Cookies</strong> Coletamos certos dados diretamente de você,
            como informações inseridas por você, dados sobre sua participação em
            cursos e dados de plataformas de terceiros que você conecta com o
            Tutorials Point. Também coletamos alguns dados automaticamente, como
            informações sobre o seu dispositivo e com quais partes de nossos
            Serviços você interage ou passa algum tempo usando. Além das
            informações pessoais, certas informações anônimas sobre sua visita
            são capturadas automaticamente quando você visita o Site.
          </p>

          <h3 class="h2 py-2">Google Analytics</h3>

          <p class="text-dark py-1">
            Usamos o Google Analytics para rastrear o tráfego do site. Essas
            informações podem incluir várias informações, não necessariamente
            limitadas a informações como navegador, dispositivo e local do
            usuário. O Google Analytics usa cookies para coletar informações do
            navegador do usuário para fazer isso. Isso é armazenado nos
            servidores do Google na sua totalidade. O Google pode compartilhar
            essas informações com outros produtos e serviços do Google (por
            exemplo, Google Adsense). Você pode ler a conformidade com a
            privacidade do Google aqui. Você pode impedir que o Google Analytics
            use suas informações desativando este link:
            https://tools.google.com/dlpage/gaoptout
          </p>
          <h3 class="h2 py-2">Propaganda ou Anuncios</h3>

          <p class="text-dark py-1">
            Várias organizações exibem anúncios em nosso site. Nós usamos o
            Google Adsense para isso. O Google Adsense usa cookies para coletar
            informações do navegador dos usuários e exibir anúncios
            direcionados. Eles também podem compartilhar essas informações com
            terceiros. Você pode ler a política de privacidade do Google Adsense
            aqui
            https://privacy.google.com/businesses/compliance/#!?modal_active=none#%3Fmodal_active=none
          </p>

          <h3>Tipos de dados coletados</h3>

          <h4>Dados pessoais</h4>

          <p class="text-dark">
            Ao usar nosso Serviço, podemos solicitar que você nos forneça certas
            informações de identificação pessoal que podem ser usadas para
            entrar em contato ou identificá-lo. Informações de identificação
            pessoal podem incluir, mas não estão limitadas a:
          </p>
          <p class="text-dark">Endereço de e-mail</p>
          <p class="text-dark">Nome e sobrenome</p>
          <p class="text-dark">Dados de uso</p>
          <p class="text-dark">
            Os dados de uso são coletados automaticamente ao usar o serviço. Os
            Dados de Uso podem incluir informações como o endereço de Protocolo
            da Internet do seu dispositivo (por exemplo, endereço IP), tipo de
            navegador, versão do navegador, as páginas do nosso Serviço que você
            visita, a hora e a data da sua visita, o tempo gasto nessas páginas,
            o dispositivo exclusivo identificadores e outros dados de
            diagnóstico.
          </p>
          <p class="text-dark">
            Quando você acessa o Serviço por ou através de um dispositivo móvel,
            podemos coletar determinadas informações automaticamente, incluindo,
            entre outras, o tipo de dispositivo móvel que você usa, o ID
            exclusivo do seu dispositivo móvel, o endereço IP do seu dispositivo
            móvel, o seu celular. sistema operacional, o tipo de navegador da
            Internet móvel Você usa identificadores exclusivos de dispositivo e
            outros dados de diagnóstico.
          </p>
          <p class="text-dark">
            Também podemos coletar informações que o seu navegador envia sempre
            que você visita nosso Serviço ou quando acessa o Serviço por ou
            através de um dispositivo móvel.
          </p>
          <p class="text-dark">
            Tecnologias de rastreamento e cookies Utilizamos cookies e
            tecnologias de rastreamento semelhantes para rastrear a atividade em
            nosso serviço e armazenar determinadas informações. As tecnologias
            de rastreamento usadas são beacons, tags e scripts para coletar e
            rastrear informações e melhorar e analisar nosso serviço.
          </p>
          <p class="text-dark">
            Você pode instruir seu navegador a recusar todos os cookies ou a
            indicar quando um cookie está sendo enviado. No entanto, se você não
            aceitar os cookies, poderá não conseguir usar algumas partes do
            nosso serviço.
          </p>
          <h3 class="pb-3">Objetivo</h3>
          <p class="text-dark">
            Esses cookies são essenciais para fornecer serviços disponíveis
            através do site e permitir que você use alguns de seus recursos.
            Eles ajudam a autenticar usuários e impedir o uso fraudulento de
            contas de usuário. Sem esses cookies, os serviços que você solicitou
            não podem ser fornecidos, e apenas os usamos.
          </p>
        </div>
      </div>
      <!--/Card-->
    </div>
  </div>
</div>

{% endblock content %}
