{% extends 'bases_en/base.html' %} {% load static %}
<!--  block content -->
{% block title %}Política de Privacidade{% endblock %} {% block content %}

<div class="container pt-5">
  <div class="row row-cols-1 row-cols-md-1 pt-5 mb-4">
    <div class="col-lg-12">
      <div class="card z-depth-0 mb-4">
        <div class="card-header font-weight-bold">
          <h2 class="">Política de Privacidade</h2>
        </div>
        <div class="card-body text-dark white">
          <h3 class="pb-4">Última atualização: 21 de fevereiro de 2020</h3>

          <p class="text-dark">
            Esta Política de Privacidade descreve nossas políticas e
            procedimentos para a coleta, uso e divulgação de Suas informações
            quando você usa o Serviço e informa sobre seus direitos de
            privacidade e como a lei o protege. Usamos seus dados pessoais para
            fornecer e melhorar o serviço. Ao usar o Serviço, você concorda em
            coletar e usar as informações de acordo com esta Política de
            Privacidade.
          </p>
          <h3 class="pb-4">Definições</h3>
          <p class="text-dark">
            Para os fins desta Política de Privacidade: Você significa o
            indivíduo que acessa ou usa o Serviço, ou a empresa ou outra
            entidade legal em nome da qual esse indivíduo está acessando ou
            usando o Serviço, conforme aplicável. Serviço de Mídia Social de
            terceiros refere-se a qualquer site ou site de rede social através
            do qual um Usuário possa fazer login ou criar uma conta para usar o
            Serviço. Dados pessoais são quaisquer informações relacionadas a um
            indivíduo identificado ou identificável.
          </p>

          <p class="text-dark">
            <strong>Cookies</strong> são pequenos arquivos que são colocados no
            seu computador, dispositivo móvel ou qualquer outro dispositivo por
            um site, contendo os detalhes do seu histórico de navegação nesse
            site entre seus diversos usos. Dados de uso refere-se aos dados
            coletados automaticamente, gerados pelo uso do Serviço ou da própria
            infraestrutura do Serviço (por exemplo, a duração de uma visita à
            página). Coletando e usando seus dados pessoais
          </p>

          <h3 class="h2 py-2">Google Analytics</h3>

          <p class="text-dark py-1">
            Usamos o Google Analytics para rastrear o tráfego do site. Essas informações podem incluir várias informações, não necessariamente limitadas a informações como navegador, dispositivo e local do usuário. O Google Analytics usa cookies para coletar informações do navegador do usuário para fazer isso. Isso é armazenado nos servidores do Google na sua totalidade. O Google pode compartilhar essas informações com outros produtos e serviços do Google (por exemplo, Google Adsense). Você pode ler a conformidade com a privacidade do Google aqui.
            Você pode impedir que o Google Analytics use suas informações desativando este link: https://tools.google.com/dlpage/gaoptout
          </p>
          <h3 class="h2 py-2">Propaganda ou Anuncios</h3>

           <p class="text-dark py-1">
            Várias organizações exibem anúncios em nosso site. Nós usamos o Google Adsense para isso. O Google Adsense  usa cookies para coletar informações do navegador dos usuários e exibir anúncios direcionados. Eles também podem compartilhar essas informações com terceiros. Você pode ler a política de privacidade do Google Adsense aqui
          https://privacy.google.com/businesses/compliance/#!?modal_active=none#%3Fmodal_active=none
          </p>

          <h3>Tipos de dados coletados</h3>

          <h4>Dados pessoais</h4>

          <p class="text-dark">
            Ao usar nosso Serviço, podemos solicitar que você nos forneça certas
            informações de identificação pessoal que podem ser usadas para
            entrar em contato ou identificá-lo. Informações de identificação
            pessoal podem incluir, mas não estão limitadas a:
          </p>
          <p class="text-dark">Endereço de e-mail</p>
          <p class="text-dark">Nome e sobrenome</p>
          <p class="text-dark">Dados de uso</p>
          <p class="text-dark">
            Os dados de uso são coletados automaticamente ao usar o serviço. Os
            Dados de Uso podem incluir informações como o endereço de Protocolo
            da Internet do seu dispositivo (por exemplo, endereço IP), tipo de
            navegador, versão do navegador, as páginas do nosso Serviço que você
            visita, a hora e a data da sua visita, o tempo gasto nessas páginas,
            o dispositivo exclusivo identificadores e outros dados de
            diagnóstico.
          </p>
          <p class="text-dark">
            Quando você acessa o Serviço por ou através de um dispositivo móvel,
            podemos coletar determinadas informações automaticamente, incluindo,
            entre outras, o tipo de dispositivo móvel que você usa, o ID
            exclusivo do seu dispositivo móvel, o endereço IP do seu dispositivo
            móvel, o seu celular. sistema operacional, o tipo de navegador da
            Internet móvel Você usa identificadores exclusivos de dispositivo e
            outros dados de diagnóstico.
          </p>
          <p class="text-dark">
            Também podemos coletar informações que o seu navegador envia sempre
            que você visita nosso Serviço ou quando acessa o Serviço por ou
            através de um dispositivo móvel.
          </p>
          <p class="text-dark">
            Tecnologias de rastreamento e cookies Utilizamos cookies e
            tecnologias de rastreamento semelhantes para rastrear a atividade em
            nosso serviço e armazenar determinadas informações. As tecnologias
            de rastreamento usadas são beacons, tags e scripts para coletar e
            rastrear informações e melhorar e analisar nosso serviço.
          </p>
          <p class="text-dark">
            Você pode instruir seu navegador a recusar todos os cookies ou a
            indicar quando um cookie está sendo enviado. No entanto, se você não
            aceitar os cookies, poderá não conseguir usar algumas partes do
            nosso serviço.
          </p>
          <h3 class="pb-3">Objetivo</h3>
          <p class="text-dark">
            Esses cookies são essenciais para fornecer serviços disponíveis
            através do site e permitir que você use alguns de seus recursos.
            Eles ajudam a autenticar usuários e impedir o uso fraudulento de
            contas de usuário. Sem esses cookies, os serviços que você solicitou
            não podem ser fornecidos, e apenas os usamos.
          </p>
        </div>
      </div>
      <!--/Card-->
    </div>
  </div>
</div>

{% endblock content %}
