{% extends 'bases_en/base.html' %} {% load static %} {% load hitcount_tags %} {% load hitcount_tags %}
{% get_hit_count_js_variables for tut as hitcount %}
<!--  block content -->
{%block title %} {{ object.name }} {%endblock%}

<link
  href="https://fonts.googleapis.com/css2?family=Muli&family=Source+Code+Pro&display=swap"
  rel="stylesheet"
/>
<style>
  @media only screen and (min-width: 1026px) {
    #fadeshow11 {
      visibility: hidden;
      display: none;
    }
  }

  @media only screen and (max-width: 1026px) {
    #fadeshow1 {
      visibility: hidden;
      display: none;
    }
  }
  i {
    color: #333333;
    font-family: "Lato ";
    font-size: 18px;
    letter-spacing: normal;
    word-spacing: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 27px;
    margin: 0px 0px 10px;
    text-align: start;
    text-decoration: none solid rgb(51, 51, 51);
  }
  stron {
    color: #212529;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 48px;
    margin: 0px 0px 8px;
    text-transform: none;
    text-decoration: none solid rgb(33, 37, 41);
    text-align: left;
  }
</style>
<!--  block content -->
{% block content %}

<style>
  body {
    background: #eee;
  }

  .strike-text {
    color: red;
    text-decoration: line-through;
  }

  .product-image {
    width: 100%;
  }

  .dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

  .spec-1 {
    color: #938787;
    font-size: 15px;
  }

  h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-transform: none;
    text-decoration: solid rgb(41, 48, 59);
    text-align: start;
  }

  .para {
    font-size: 16px;
  }
</style>

<style>
  body {
    background-color: #f9f9fa;
  }

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  @media (max-width: 991.98px) {
    .padding {
      padding: 1.5rem;
    }
  }

  @media (max-width: 767.98px) {
    .padding {
      padding: 1rem;
    }
  }

  .padding {
    padding: 5rem;
  }

  .card {
    background: #fff;
    border-width: 0;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, 0.125);
    border-radius: 0.25rem;
  }

  .list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }

  .list-item.block .media {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .list-item.block .list-content {
    padding: 1rem;
  }

  .w-40 {
    width: 40px !important;
    height: 40px !important;
  }

  .avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
  }

  .avatar img {
    border-radius: inherit;
    width: 100%;
  }

  .gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
  }

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .text-color {
    color: #5e676f;
  }

  .text-sm {
    font-size: 0.825rem;
  }

  .h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 0.625rem;
  }

  .list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }

  .list-row .list-item > * {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .dropdown {
    position: relative;
  }

  a:focus,
  a:hover {
    text-decoration: none;
  }

  .list-item {
    background: white;
  }
</style>

<div class="row row-cols-1 row-cols-md-3 my-4 mx-0 px-0 mb-5 pb-5">
  <div class="col-lg-2 col-md-2 col-sm-12 mx-0 px-0" style="background-color: #f0f0f0" >
    <nav >
      <div  class="pt-5 px-1 d-none d-lg-block">
        <div class="container mb-2">
            <!-- ads-->
            <iframe data-aa='2017003' src='//acceptable.a-ads.com/2017003' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
            <!-- /. ads -->
        </div>
        <div class=" px-0 ">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                 crossorigin="anonymous"></script>
            <!-- lateral -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1810411345881098"
                 data-ad-slot="6899621083"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class=" px-0 my-4">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                 crossorigin="anonymous"></script>
            <!-- lateral -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1810411345881098"
                 data-ad-slot="6899621083"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
      </div>
    </nav>
  </div>

  <div
    class="col-lg-7 col-md-12 col-sm-12 mx-0 mt-2"
    style="background-color: white"
  >
    <div class="container mb-4 mt-5">
      <!--Section: Magazine v.1-->
      <section class="">
        <!--Section heading-->
        <h3 class="mb-2 text-left">
          <i class="far fa-clock"></i> {{object.name}}
        </h3>
        <hr class="mb-4" />

        <div class="container">
            <!-- ads-->
            <iframe data-aa='2017003' src='//acceptable.a-ads.com/2017003' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
            <!-- /. ads -->
        </div>

        <p>{{object.description  | safe}}</p>

        <hr class="mb-4" />
        <div class="ml-0">
          <!--Grid row-->
          <div class="row row-cols-1">
            {% for i in tut %} {% if object.id == i.category.id %}
            <!--  -->
            {%if i.nivel == 'Basico' %}

            <div
              class="col-lg-6 col-md-5 col-sm-12 d-flex align-self-stretch mb-4 mx-md-0 mx-sm-0 rounded"
            >
              <div class="row">
                <div class="col-lg-6 my-4 my-sm-0 ">
                  <!--Image-->
                  <div class="view overlay z-depth-0-half">
                    <img
                      src="{{ i.featured_image.url }}"
                      alt="Responsive image"
                      class="img-fluid"
                    />
                    <a href="{% url 'tutorial-view_en' i.slug %}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>

                <div class="col-lg-6 px-lg-0 px-md-0 px-sm-4 py-0 my-0">
                  <!--Excerpt-->
                  <div class="py-0 mb-sm-4 my-0">
                    <a href="{% url 'tutorial-view_en' i.slug %}">
                      <h1 class="mx-0 px-0">
                        <strong>{{i.title}}</strong>
                      </h1>
                    </a>
                    <div class="text-muted text-left">
                      <span class="py-0 my-0" style="font-size: 12px"><i class="far fa-calendar"> </i> {{i.updated_on}}</span>
                      <br/>
                      <span class="py-0 my-0" style="font-size: 12px"><i class="fa fa-eye"> </i> {% get_hit_count for i %} Visualizações</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endif %}{% endif %} {% endfor%}
          </div>
          <div class=" px-0 ">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                 crossorigin="anonymous"></script>
            <!-- baixo -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1810411345881098"
                 data-ad-slot="9366002321"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
          <div class="container mt-2 pt-2">
            {% include 'posts/comments.html' %}
          </div>
        </div>

        <!--Grid row-->
      </section>
      <!--/Section: Magazine v.1-->
    </div>
  </div>
  <div
      id="sticky-sidebar"
      class="col-lg-3 col-md-12 col-sm-12 mx-0 px-0"
      style="background-color: #f0f0f0"
    >
      <nav>
      <div class="pt-5 px-1">
          <script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
                <div class="gcse-search"></div>
        <div class=" px-0">

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                 crossorigin="anonymous"></script>
            <!-- lateral -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1810411345881098"
                 data-ad-slot="6899621083"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="my-2">
            <!-- ads-->
            <iframe data-aa='2017003' src='//acceptable.a-ads.com/2017003' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
            <!-- /. ads -->
      </div>
        <div class=" px-0 my-4">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                 crossorigin="anonymous"></script>
            <!-- lateral -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1810411345881098"
                 data-ad-slot="6899621083"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
      </div>
    </nav>
    </div>
</div>
  {% endblock content %}

  <!-- /.content -->

