{% extends 'bases/base.html' %} {% load static %}
<!--  block content -->
{%block title %} {{object.category}} - {{ object.title }} {%endblock%}
<!--  block content -->
{% block content %}
<style>
  @media only screen and (min-width: 1026px) {
    #fadeshow11 {
      display: none;
    }
  }

  @media only screen and (max-width: 1026px) {
    #fadeshow1 {
      display: none;
    }
  }
  @media only screen and (min-width: 1026px) {
    #fadeshow12 {
      overflow-y: scroll;
      height: 600px;
    }
  }

  em {
    color: #333333;
    font-weight: bolder;
  }


  p {
    color: #333333;
    font-family: "Segoe UI";
    font-size: 15.5px;
    letter-spacing: normal;
    word-spacing: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 0px 12px;
    text-align: justify;
    text-decoration: none solid rgb(0, 28, 59);
    text-indent:0px;
  }
  h1 {
    color:#001c3b;
    font-family: "proxima-nova", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 23.1px;
    margin: 0px 0px 8px;
    text-transform: none;
    text-decoration: none solid rgb(0, 28, 59);
    text-align: left;
  }
  h2 {
    color:#001c3b;
    font-family: "proxima-nova", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 23.1px;
    margin: 30px 0px 8px;
    text-transform: none;
    text-decoration: none solid rgb(0, 28, 59);
    text-align: left;
  }

  .anyClass {
  height:450px;
  overflow-y: scroll;
}
</style>

<div class="row row-cols-1 row-cols-md-3 my-4 mx-0 px-0">
  <div class="col-lg-2 col-md-2 col-sm-12 mx-0 px-0" style="background-color: #f0f0f0">
      <nav class="px-1 my-3">
          <img
              src="{{ object.featured_image.url }}"
              alt="Responsive image"
              class="img-fluid"
            />
          <!-- Basico -->
          <h6 id="fadeshow1" class="rounded text-left mx-0 px-1 text-white font-weight-bolder  p-2 mx-0 px-0 mt-3"
            style="background-color: #39C0ED;"
          >
            {{object.category}}
          </h6>
          <div class="">
            <ul style="background-color: #fcfffd" class="list-group list-group-flush list-unstyled list-group-flush components mb-1 px-0 mx-0">

              {% for i in tut %} {% if object.category.id == i.category.id %}
              {%if i.nivel == 'Basico' %} {% if object.title == i.title %}
              <li
                class="list-group-item px-1" style="background-color: #fcfffd"
              >
                <a class="font-weight-bold" style="background-color: #ffffff; color: #c92614" href="{% url 'tutorial-view' i.slug %}"
                  >{{ i.title }}</a
                >
              </li>
              {% else %}
              <li
                class="list-group-item px-1"
                style="background-color: #fcfffd"
              >
                <a class=" font-weight-normal " style="font-size: 12.5px;" href="{% url 'tutorial-view' i.slug %}"
                  >{{ i.title }}</a
                >
              </li>
              {% endif %} {% endif %}{% endif %} {% endfor%}

            </ul>
          </div>
      </nav>

  </div>
  <div class="col-lg-7 col-md-7 col-sm-12 mx-0"  style="background-color: white;"
  >
    <div class="pt-5 mt-2 px-3">
      <h1 class="mb-4 mt-3 text-left">{{object.title}}</h1>
      <hr />
      <p>
        {{object.content | safe}}
      </p>
       <div class="container">
            <!-- ads-->
            <iframe data-aa='2017003' src='//acceptable.a-ads.com/2017003' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
            <!-- /. ads -->
        </div>
    </div>
    <div class="pt-3"></div>
    <div class="container mt-2 pt-2">{% include 'posts/comments.html' %}</div>
  </div>
  <div id="sticky-sidebar" class="col-lg-3 col-md-12 col-sm-12 mx-0 px-0" style="background-color: #f0f0f0;"
  >
    <div class="sticky-top px-1">
      <p class="my-3"></p>
      <script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
                <div class="gcse-search"></div>
      <div class=" px-0 my-3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
             crossorigin="anonymous"></script>
        <!-- baixo -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1810411345881098"
             data-ad-slot="9366002321"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class=" px-0 ">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
             crossorigin="anonymous"></script>
        <!-- baixo -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1810411345881098"
             data-ad-slot="9366002321"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class=" px-0 my-4">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
             crossorigin="anonymous"></script>
        <!-- baixo -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1810411345881098"
             data-ad-slot="9366002321"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
  <!-- Page Content  -->
</div>
{% endblock content %}

<!-- /.content -->
