<style>
  font {
    color: #212529;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background-color: #000000;
    font-weight: 300;
    line-height: 24px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px 0px 0px;
    padding: 0px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(33, 37, 41);
    text-align: left;
    text-indent: 0px;
  }
  a:hover {
    color: #445879;
  }
  h1 {
    color: #29303b;
    font-family: "sf pro display", -apple-system, BlinkMacSystemFont, "segoe ui",
      Roboto, Helvetica, Arial, sans-serif, "apple color emoji",
      "segoe ui emoji", "segoe ui symbol";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0px 0px 0px;
    text-transform: none;
    text-decoration: solid rgb(41, 48, 59);
    text-align: start;
  }


  .card-footer {
    color: #686f7a;
    font-size: 12px;
  }
</style>

<!--Section: Tutorial -->
<div class="container my-5" style="background-color: #f7f6f6">
    <h3 class="my-4 text-left pt-4 mx-1">
      <i class="far fa-clock"></i> Últimas publicaciones Tutorial
    </h3 >
    <hr/>
    <div class="row ">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row my-3">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
              <!--Grid row Tutorial -->
              <div class="row">
                      {% for t in tutorial %}
                      <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-self-stretch mx-md-0 mx-sm-0 rounded mb-2 ">
                        <div class="col-lg-5 rounded px-0">
                          <!--Image-->
                          <div class="view overlay z-depth-0-half rounded px-0">
                            <img
                              src="{{ t.featured_image.url }}"
                              alt="Responsive image"
                              class="img-fluid"
                            />
                            <a href="{% url 'tutorial-view_es' t.slug %}">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-7 px-lg-2 px-md-2 px-sm-4 py-0 my-0">
                          <!--Excerpt-->
                          <div class="py-0 my-lg-0 my-md-0 my-sm-4">
                            <a href="{% url 'tutorial-view_es' t.slug %}">
                              <h1 class="">
                                {{t.title}}
                              </h1>
                            </a>
                            <div class="text-muted text-left">
                              <a
                                href="{% url 'categoria-view_es' t.category.slug  %}"
                                class="light-blue-text"
                              >
                                <span class="badge unique-color float-left"
                                  ><strong> {{t.category}}</strong>
                                </span>
                              </a>
                              <br />
                              <span class="py-0 my-0" style="font-size: 12px"
                                ><i class="pl-2 far fa-calendar"></i>
                                {{t.updated_on}}</span
                              >
                              <br/>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
              <!--Grid row Tutorial -->

            </div>
        </div>
    </div>
</div>
</div>
<!--/Section: Tutorial-->

<div class="container mt-3" style="background-color: #f7f6f6">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="my-3">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                     crossorigin="anonymous"></script>
                <!-- Quadrado -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1810411345881098"
                     data-ad-slot="4320030529"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

    </div>
</div>


