{% extends 'bases_en/base.html' %} {% load static %}
<!--  block content -->
{%block title%} Usandopy - Blog {%endblock%} {% block content %}

<div class="container py-5" style="background-color: white;">
<div class="my-2"></div>
  <div class="row row-cols-1 row-cols-md-3 pt-2 mb-4">
    <!-- postagens-->
    {% block postagens %} {% include 'posts_en/postagens.html' %} {% endblock %}
    <!-- /. postagens -->

    <!-- postagens-->
    {% block categoria %} {% include 'posts_en/categoria.html' %} {% endblock %}
    <!-- /. postagens -->
  </div>
</div>

{% endblock content %}

<!-- /.content -->
