{% load static %}
<!-- Jumbotron -->
<style>
  .form-control {
    padding: 5px;
  }
  @media only screen and (max-width: 1026px) {
    #fadeshow1 {
      display: none;
    }
  }
</style>

<div class="card card-image mt-3 pt-3 z-depth-0" style="background-color: #ffffff">
  <div
    class="text-white text-center py-0 px-4 z-depth-0"
  >
    <div class="mt-4 container z-depth-0">
      <!-- Content -->
      <div class="row text-center z-depth-0">

        <div class="col-lg-3"></div>

        <div class="col-lg-6 mb-1 z-depth-0">
          <!-- Search Widget -->
          <div class="widget search p-0 text-center mt-0 pt-0 mb-1 z-depth-0">
              <script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
                <div class="gcse-search"></div>
          </div>

          <!-- Juntar button -->
        </div>
        <div class="col-lg-3 py-0 my-0"></div>
      </div>
    </div>


  </div>
</div>

<!-- Jumbotron -->
