{% load static %}





 <!-- inject:js -->
 <script src="{% static 'assetss/vendors/js/vendor.bundle.base.js' %}"></script>
 <!-- endinject -->
 <!-- plugin js for this page -->
 <script src="{% static 'assetss/vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
 <!-- End plugin js for this page -->
 <!-- Custom js for this page-->
 <script src="{% static 'assetss/js/demo.js' %}"></script>

 <!-- Optional JavaScript -->
 <script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/mdb.min.js' %}"></script>
 <!-- Theme Script -->
 <script src="{% static 'assets/js/script.js' %}"></script>
