<footer>
  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex justify-content-between">
          <img src="assets/images/logo.svg" class="footer-logo" alt="" />

          <div class="d-flex justify-content-end footer-social">
            <h5 class="m-0 font-weight-600 mr-3 d-none d-lg-flex">Siga em</h5>
            <ul class="social-media">
              <li>
                <a href="#">
                  <i class="mdi mdi-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div
          class="d-lg-flex justify-content-between align-items-center border-top mt-5 footer-bottom"
        >
          <ul class="footer-horizontal-menu">
            <li><a href="#">Terms of Use.</a></li>
            <li><a href="#">Privacy Policy.</a></li>
            <li><a href="#">Accessibility & CC.</a></li>
            <li><a href="#">AdChoices.</a></li>
            <li><a href="#">Advertise with us Transcripts.</a></li>
            <li><a href="#">License.</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
          <p class="font-weight-medium">
            © 2022
            <a
              href="https://www.usandopy.com/"
              target="_blank"
              class="text-dark"
              >@ UsandoPy</a
            >,Todos os direitos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
