<div class="container">
    <!-- Tutorial
    <div class="banner-top-thumb-wrap">
      <div class="d-lg-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between  mb-3 mb-lg-0">
          <div>
            <img
              src="{% if hot_news.thumbnail_url %}  {{ hot_news.thumbnail_url }} {% else %}{{ hot_news.thumbnail.url }}{% endif %}"
              alt="thumb"
              class="banner-top-thumb"
            />
          </div>
          <h5 class="m-0 font-weight-bold">
            The morning after: What people
          </h5>
        </div>
      </div>
    </div>
     -->
    <!-- / Tutorial -->
    <div class="row">
      <!-- Destake -->
      <div class="col-lg-8">
        <div class="card mb-5 mt-5 mb-sm-2">
          <div class="position-relative image-hover">
            <a href="{{ hot_news.get_absolute_url }}" target="_self">
              <img
              src="{% if hot_news.thumbnail_url %}  {{ hot_news.thumbnail_url }} {% else %}{{ hot_news.thumbnail.url }}{% endif %}"
              class="img-fluid"
              alt="world-news"
            />
            </a>
            <span class="thumb-title">{{ hot_news.category }}</span>
          </div>
          <h1 class="font-weight-600 mt-3">
            <a href="{{ hot_news.get_absolute_url }}" target="_self">{{ hot_news.title }}</a>
          </h1>
          <p class="fs-15 font-weight-normal">
            {{ hot_news.description|truncatechars:100 }}
          </p>
        </div>
      </div>
      <!-- Destake -->

      <!-- catalog-2 -->
      <div class="col-lg-4">
        <h3 class="mt-5 mt-sm-2 pt-3 font-weight-normal " style="font: size 14px;">Someone said</h3>
        <hr>
        <div class="row">
         
          {% for news in post_catalog_two %}
          <div class="col-sm-6">
            <div class="py-3 border-bottom">
              <div class="d-flex align-items-center pb-2">
                <img
                  src="{% if news.thumbnail_url %}  {{ news.thumbnail_url }} {% else %}{{ news.thumbnail.url }}{% endif %}"
                  class="img-lg img-rounded mr-2"
                  alt="thumb"
                />
                <span class="fs-12 text-muted">{{ news.title }}</span>
              </div>
              <p class="fs-15 font-weight-normal">
                {{ news.description|safe|truncatechars:150 }}
              </p>
            </div>
          </div>
          {% endfor %}
          <!-- Ads -->
          <div class="col-sm-12">
            <div class="py-3 border-bottom">
              <div class="d-flex align-items-center pb-2">
                <iframe data-aa='2017003' src='//acceptable.a-ads.com/2017003' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
                
              </div>
          </div>
        </div>
      </div>
      <!-- / catalog-2 -->
    </div>

    <!-- Catalog-1 -->
    <div class="world-news">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex position-relative  float-left">
            {% for news in post_catalog_one_title %}
            <h3 class="section-title">{{news.category}}</h3>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        {% for news in post_catalog_one %}
        <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <a href="{{ news.get_absolute_url }}" class="font-weight-bold text-dark pt-2">
              <img
              src="{% if news.thumbnail_url %}  {{ news.thumbnail_url }} {% else %}{{ news.thumbnail.url }}{% endif %}"
              class="img-fluid"
              alt="world-news"
            />
            </a>
            <span class="thumb-title">{{ news.category }}</span>
          </div>
          <h5 class="font-weight-normal mt-3">
            <a href="{{ news.get_absolute_url }}" style="color:#333333; font-size: 15px; " class="font-weight-bold text-dark pt-2"
            >{{ news.title }}</a>
          </h5>
          <p class="fs-15 font-weight-normal">
            {{ trending.description|safe|truncatechars:100 }}
          </p>
          <a href="{{ news.get_absolute_url }}" class="font-weight-bold text-dark pt-2"
            >Ler artigo</a
          >
        </div>
        {% endfor %}
      
      </div>
    </div>
    <!-- / Trending -->

    <div class="editors-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">Popular</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6  mb-5 mb-sm-2">
          <div class="position-relative image-hover">
            <a href="{{ editor_choice.get_absolute_url }}" target="_self">
              <img
              src="{% if editor_choice.thumbnail_url %}  {{ editor_choice.thumbnail_url }} {% else %}{{ editor_choice.thumbnail.url }}{% endif %}"
              class="img-fluid"
              alt="world-news"
            />
            </a>
            <span class="thumb-title">{{editor_choice.category}}</span>
          </div>
          <h1 class="font-weight-normal mt-3">
            <a href="{{ editor_choice.get_absolute_url }}" style="color:#333333; font-size: 15px; " target="_self">{{ editor_choice.title }}</a>
          </h1>
          <p class="fs-15 font-weight-normal">
            {{ editor_choice.description|safe|truncatechars:100 }}
          </p>
        </div>
        <div class="col-lg-6  mb-5 mb-sm-2">
          <div class="row">
            {% for news in post_catalog_three %}
            <div class="col-sm-6  mb-5 mb-sm-2">
              <div class="position-relative image-hover">
                <a href="{{ news.get_absolute_url }}" class="font-weight-bold text-dark pt-2">
                  <img
                  src="{% if news.thumbnail_url %}  {{ news.thumbnail_url }} {% else %}{{ news.thumbnail.url }}{% endif %}"
                  class="img-fluid"
                  alt="world-news"
                />
                </a>
                <span class="thumb-title">{{news.category}}</span>
              </div>
              
              <h5 class="font-weight-normal mt-3">
                <a href="{{ news.get_absolute_url }}" style="color:#333333; font-size: 15px; " class="font-weight-normal text-dark pt-2">
                  {{news.title}}
                </a>
              </h5>
              <p class="fs-15 font-weight-normal">
                {{ news.description|safe|truncatechars:100 }}
              </p>
            </div>
            {% endfor %}
            
          </div>

          <!-- Ads-->
          <div class="row mt-3">
            <div class="col-sm-12  mb-5 mb-sm-2">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popular -->
    <div class="popular-news">
      <div class="row">
        <div class="col-lg-3">
          <div class="d-flex position-relative float-left">
            <h3 class="section-title">More news</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Veja Tambem -->
        <div class="col-lg-9">
          <div class="row">
            {% for news in post_catalog_five %}
            <div class="col-sm-4  mb-5 mb-sm-2">
              <div class="position-relative image-hover">
                <a href="{{ news.get_absolute_url }}" class="font-weight-bold text-dark pt-2">
                  <img
                  src="{% if news.thumbnail_url %}  {{ news.thumbnail_url }} {% else %}{{ news.thumbnail.url }}{% endif %}"
                  class="img-fluid"
                  alt="world-news"
                />
                </a>
                <span class="thumb-title">{{news.category}}</span>
              </div>
              <h5 class="font-weight-normal mt-3">
                <a href="{{ news.get_absolute_url }}" class="font-weight-bold text-dark pt-2">
                  {{news.title}}
                </a>
              </h5>
            </div>
            {% endfor %}
          </div>
          <div class="row mt-3">
            <div class="col-sm-4 mb-5 mb-sm-2">
              
            </div>
            <div class="col-sm-4 mb-5 mb-sm-2">
              
            </div>
            <div class="col-sm-4 mb-5 mb-sm-2">
            
            </div>
          </div>
        </div>
        <!-- Ads -->
        <div class="col-lg-3">
          <div class="row">
            <div class="col-sm-12">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>